{{ partial "head" . }}
{{ partial "navigation" . }}

<main class="container pb-4 mb-4 mt-5 border-bottom">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ $works := .Site.GetPage "/exhibition/works" }}

  <ol>
    {{ range $works.Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ol>
</main>

{{ partial "footer" . }}
{{ partial "foot" . }}
