{{ partial "head" . }}
{{ partial "header" . }}

<main>

  <div class="container-fluid bg-white text-blue">
    <div class="container py-5">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>

  <div class="container-fluid bg-orange text-blue py-5">
    <div class="container py-5">
      <h2 class="pill-2 bg-blue text-orange">Images</h2>
      {{ $title := .Title }}
      {{ $images := .Resources.ByType "image" }}

      {{ range $images }}
        {{ $resized := .Fill "1280x720 Center" }}
        <img src="{{ $resized.Permalink }}" alt="{{ $title }}">
      {{ end }}
    </div>
  </div>

  <div class="container-fluid bg-blue text-orange">
    <div class="container py-5">
      <h2 class="pill-2 bg-orange text-blue">Authors</h2>

      <div class="row">
        {{ range .Params.Authors }}
          {{ $author := . }}
          {{ $path := print "/authors/" $author }}
          {{ with $.GetPage $path }}
            <div class="col-md-4">
              <a href="{{ .RelPermalink }}">
              {{ $image := .Resources.GetMatch "image.jpg" }}
              {{ $resized := $image.Fill "1000x1000" }}
              <img src="{{ $resized.RelPermalink }}" alt="{{ .Title }}">
              <h3>{{ .Title }}</h3>
              </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

</main>

{{ partial "footer" . }}
{{ partial "foot" . }}
