/*
Bootstrap breakpoints
X-Small 	          None   <576px
Small 	            sm 	   ≥576px
Medium 	            md 	   ≥768px
Large 	            lg 	   ≥992px
Extra large         xl   	 ≥1200px
Extra extra large 	xxl 	 ≥1400px
*/

body, html {
  width: 100%;
  height: 100%;
  background-color: #792abf;
  color: #d2632a;
  font-family: 'Space Mono', monospace;
}

img {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, header {
  font-weight: bold;
}

@media (min-width: 992px) {
  header .info-container {
    box-sizing: border-box;
    position: relative;
    height: 100%;
  }

  header .info {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-52%);
  }
}

header .date {
  font-size: 4rem;
  line-height: 1.25;
  font-weight: bold;
  margin: 0;
}

header .venue {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: bold;
  margin:0;
  margin-top: 1.5rem;
}

header .opening {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
}

header .cursor {
  display: inline-block;
  height: 1.5rem;
  vertical-align: bottom;
  margin-bottom: 0.5rem;
  width: 1.1rem;
  background-color: #792abf;
}

header img.logo {
  height: 2.5rem;
  width: auto;
  display: inline;
}

main h2 {
  font-size:3rem;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.bg-orange {
  background-color: #d2632a;
}

.bg-blue {
  background-color: #792abf;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.text-orange {
  color: #d2632a;
}

.text-blue {
  color: #792abf;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.pill-2 {
  display: inline-block;
  line-height: 1;
  font-size: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1.5rem;
}
