<footer class="container-fluid bg-white text-blue py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Who did this?</h5>
        <p>Website &copy; {{ .Site.Copyright }} {{ now.Format "2006" }}</p>
        <ul>
          <li><a href="https://fablab.aalto.fi">Aalto Fablab</a></li>
          <li><a href="https://studios.aalto.fi/fablab">Aalto Studios</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>{{ .Site.Title }}</h5>
        <p>Väre main lobby<br>
        Otaniementie 14, 02150 Espoo<br>
        From 7-19 November 2022</p>

        <p>Mon-Thu: 8:00-21:00<br>
        Fri: 8:00-20:00<br>
        Sat: 9:00-17:00<br>
        Sun: Closed</p>
      </div>
      <div class="col-md-4">
        <a href="/" title="Back to main page">
        {{ $image := resources.Get "images/logos/dfs2022-logo-blue-on-white.svg" }}
        <img src="{{ $image.RelPermalink }}" alt="{{ .Site.Title }}" width="100%">
        </a>
      </div>
    </div>

  </div>
</footer>
