<!-- Header -->
<header class="container-fluid bg-blue text-orange py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <a href="/" title="Go to home page">
        {{ $dfs_logo := resources.Get "images/logos/dfs2022-logo-orange-on-blue.svg" }}
        <img src="{{ $dfs_logo.RelPermalink }}" alt="{{ .Site.Title }}" width="100%">
        </a>
      </div>

      <div class="col-lg-6">
        <div class="info-container">
          <div class="info">
            <p class="date">7-19<br>November<br>2022</p>
            <p class="venue display-6">Väre main lobby</p>
            <p class="opening display-6">Opening: 7 Nov 17:00 <span class="cursor">&nbsp;</span></p>
            <p class="logos">
              {{ $fablab_logo := resources.Get "images/logos/aalto-fablab-orange-on-blue.svg" }}
              {{ $studios_logo := resources.Get "images/logos/aalto-studios-orange-on-blue.svg" }}
              <img class="logo" src="{{ $fablab_logo.RelPermalink }}" alt="Aalto Fablab">&nbsp;
              <img class="logo" src="{{ $studios_logo.RelPermalink }}" alt="Aalto Studios">
            </p>
        </div>
      </div>
      </div>

    </div>
  </div>
</header>
