<!doctype html>
<html lang="en">

<head>
  <title>{{ .Title }} · {{ .Site.Title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Krisjanis Rijnieks (Aalto Fablab)">

  <!-- TODO: Enable this
  {{ $images := .Resources.ByType "image" }}
  {{ if isset $images 0 }}
    {{ range first 1 $images }}
      {{ $resized := .Fit "1920x1080" }}
      <meta property="og:image" content="{{ $resized.Permalink }}">
      <meta name="twitter:card" content="{{ $resized.Permalink }}">
    {{ end }}
  {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}assets/images/flung-out-of-space_jasmine-xie.jpg">
    <meta name="twitter:card" content="{{ .Site.BaseURL }}assets/images/flung-out-of-space_jasmine-xie.jpg">
  {{ end }}
  -->

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

  <!-- Style -->
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/main.css?v{{ now.Unix }}" rel="stylesheet">
  <!-- https://icons.getbootstrap.com/#usage
  <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.css">
  -->

  <!-- Favicons -->
  <!--
  <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
  -->
</head>
<body>
