<nav class="navbar navbar-expand-lg bg-black text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      {{ $dfs_brand := resources.Get "images/logos/dfs2022-nav-white-on-black.svg" }}
      <img src="{{ $dfs_brand.RelPermalink }}" alt="Brand">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {{ $pageurl := .Page.Permalink }}
        {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link{{ if eq .URL $pageurl }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}

      </ul>
    </div>
  </div>
</nav>
