{{ partial "head" . }}
{{ partial "header" . }}

{{ $author_name := .Title }}
{{ $author_slug := .File.ContentBaseName }}
{{ $author_image := .Resources.GetMatch "image.jpg" }}

<main>

  <div class="container-fluid bg-white text-blue">
    <div class="container py-5">

      <div class="row">
        <div class="col-md-6">
          <img src="{{ $author_image.RelPermalink }}" alt="{{ $author_name }}">
        </div>

        <div class="col-md-6">
          <h1>{{ $author_name }}</h1>
          {{ .Content }}
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid bg-orange text-blue">
    <div class="container py-5">
      <h2 class="pill-2 bg-blue text-orange">Projects</h2>

      {{ $projects := .Site.GetPage "/projects" }}
      {{ $author_projects := slice }}
      {{ range $projects.Pages }}
        {{ $project_page := . }}
        {{ range .Params.Authors }}
          {{ if eq . $author_slug }}
            {{ $author_projects = $author_projects | append $project_page }}
          {{ end }}
        {{ end }}
      {{ end }}

      <div class="row">
        {{ range $author_projects }}
          <div class="col-md-4">
            <a href="{{ .RelPermalink }}">
            {{ $project_images := .Resources.ByType "image" }}
            {{ $project_title := .Title }}
            {{ range first 1 $project_images }}
              {{ $resized_image := .Fill "800x450 Center" }}
              <img src="{{ $resized_image.RelPermalink }}" alt="{{ $project_title }}">
            {{ end }}
            <h3>{{ $project_title }}</h3>
            </a>
          </div>
        {{ end }}
      </div>

    </div>
  </div>

</main>

{{ partial "footer" . }}
{{ partial "foot" . }}
