{{ partial "head" . }}
{{ partial "header" . }}

<main class="container-fluid bg-white text-blue py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ .Title }}</h2>
        <p class="lead">{{ .Params.Lead }}</p>
      </div>
      <div class="col-md-6">
        {{ .Content }}
      </div>
    </div>
  </div>
</main>

<section id="authors" class="container-fluid bg-orange text-blue py-5">
  <div class="container">
    <h2 class="mb-3 bg-blue text-orange pill-2">Authors</h2>
    <div class="row">
      {{ $authors := .Site.GetPage "/authors" }}
      {{ range $authors.Pages }}
      {{ $author_image := .Resources.GetMatch "image.jpg" }}
      {{ $author_image := $author_image.Fill "1000x1000" }}
        <div class="col-md-4 pb-3 author">
          <a href="{{ .RelPermalink }}">
            <img src="{{ $author_image.RelPermalink }}" alt="{{ .Title }}">
            <h3>{{ .Title }}</h3>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section id="projects" class="container-fluid bg-blue text-orange py-5">
  <div class="container">
    <h2 class="mb-3 bg-orange text-blue pill-2">Projects</h2>
    <div class="row">
    {{ $projects := .Site.GetPage "/projects" }}
    {{ range $projects.Pages }}
      <div class="col-md-6 project pb-3">
        <a href="{{ .RelPermalink }}">
          {{ $images := .Resources.ByType "image" }}
          {{ range first 1 $images }}
            {{ $image := .Fill "800x450 Center" }}
            <img src="{{ $image.RelPermalink }}" alt="Project image">
          {{ end }}
          <h3>{{ .Title }}</h3>
        </a>
      </div>
    {{ end }}
    </div>
  </div>
</section>

{{ partial "footer" . }}
{{ partial "foot" . }}
