<div class="col-md-7">
{{ .Inner }}

{{ $actionlink := .Get `action-link` }}
{{ $actiontext := .Get `action-text` }}

{{ if not (eq $actionlink nil) }}
<a href="{{ $actionlink }}" class="btn btn-dark">{{ $actiontext }}</a>
{{ end }}

</div>
